<div id="<%= dom_id subforum %>">
  <p>
    <strong>Title:</strong>
    <%= subforum.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= subforum.description %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= subforum.tag_list %>
  </p>
</div>



