<% content_for :title, "Editing subforum" %>

<h1>Editing subforum</h1>

<%= render "form", subforum: @subforum %>

<br>

<div>
  <%= link_to "Show this subforum", @subforum %> |
  <%= link_to "Back to subforums", subforums_path %>
</div>
