<div id="<%= dom_id post %>">
  <p>
    <strong>Question:</strong>
    <%= post.question %>
  </p>

  <p>
    <strong>Description of question:</strong>
    <%= post.description_of_question %>
  </p>

</div>
